doctype html
html
  head
    block options
    meta(charset='utf-8')
    meta(name='keywords', content='zorgboederij, lelystad, hout, openhaardhout')
    link(rel='stylesheet', type='text/css', href='./stylesheet.css')
    title Stichting Werxaam - #{title}
  body
    .wrapper
      nav.side
        a(class={selected: name === 'index'} href='./index.html') Home
        a(class={selected: name === 'info'} href='./info.html') Info
        a(class={selected: name === 'products'} href='./products.html') Verkoop
        a(class={selected: name === 'contact'} href='./contact.html') Contact
      .container
        block container