extends ../layouts/main.pug
block options
    - var title = "Over ons";
block container
    .content        
        include:markdown-it about.md
        img(src='./images/collage.jpeg' loading='lazy',  style="max-width: 600px")