extends ../layouts/main.pug
block container
    .content
        h2 Contact
        | Vaak zijn wij wel aanwezig, je kunt het altijd proberen maar wil je het zeker weten neem dan vooraf contact op.
        br
        | Voor een afspraak of vragen kunt u contact opnemen met Jos van Egmond
        address
            br
            | Stichting werXaam
            br
            | Jupiterweg 2
            br
            | 8211 AW Lelystad
            br
            | Tel : 06-41259339
            br
            | Email :
            a(href='mailto:jegmond@hetnet.nl') jegmond@hetnet.nl
        h2 Openingstijden
        table
            tbody
            tr
                td Maandag
                td Gesloten
            tr
                td Dinsdag
                td 09:00 - 16:00
            tr
                td Woensdag
                td 09:00 - 16:00
            tr
                td Donderdag   
                td 09:00 - 16:00
            tr
                td Vrijdag
                td 09:00 - 16:00
            tr
                td Weekend
                td Gesloten
        br
        span Voor Ciderverkoop zijn er geen vaste tijden.