extends ../layouts/main.pug
block options
    - var title = "Contact";
block container
    .cover-img
        iframe(src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJgUiUWbAnxkcRX8uUu3xKBBc&maptype=satellite&key=AIzaSyDCp_SiY804hq3UHXw1p-iz5rWy-DHRDGM" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen>)
    .content       
        include:markdown-it contact.md