extends ../layouts/main.pug
block options
    - var title = "Contact";
block container
    .cover-img
        iframe(src="https://www.google.com/maps/embed/v1/search?q=Stichting%20Werxaam%2C%20Jupiterweg%2C%20Lelystad%2C%20Nederland&key=AIzaSyDCp_SiY804hq3UHXw1p-iz5rWy-DHRDGM" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>)
    .content       
        include:markdown-it contact.md