extends ../layouts/main.pug
block options
    - var title = "Dagbesteding";
block container
    .cover-img
        img(src='./images/bos-clubcar.jpeg' loading='lazy')
    .content
        include:markdown-it info-socialactivering.md
    .content 
        h2 Informatie voor deelnemers
        p Voor de deelnemers die bij werXaam aan de gang gaan de volgende informatie:
        ul
            li
                a(href='./Privacy_reglement.pdf') Privacyreglement
            li
                a(href='./Uitdeelbrief_Landelijke_Klachtenregeling_Landbouw_en_Zorg.pdf') Klachtenregeling