extends ../layouts/main.pug
block options
    - var title = "Dagbesteding in het groen";
block container
    .cover-img
        img(src='./images/jongens-front-crop.jpeg' loading='lazy')
    .content
        include includes/houtverkoop-content.pug
    .content
        include:markdown-it dagbesteding-snippet.md
        

    
        
   
