extends ../layouts/main.pug
block options
    - var title = "Thuis";
block container
    .cover-img
        img(src='./images/jongens-front.jpeg' loading='lazy')
    //- nav.nav-horizontal
    //-     a(href='./Dagbesteding.html') Dagbesteding
    //-     a(href='./products.html') Haardhout
    //-     a(href='./about.html') Meer over werxaam
    .content

        include:markdown-it about.md
        //- h1 Welkom bij stichting werXaam
        //- h2 Samen werken in de buitenlucht.