extends ../layouts/main.pug
block options
    - var title = "Thuis";
block container
    .cover-img
        img(src='./images/jongens-front.jpeg' loading='lazy')
    nav.nav-horizontal
        a(href='./info.html') Dagbesteding
        a(href='./products.html') Haardhout
        a(href='./about.html') Meer over werxaam
    .content
        h2 Welkom bij stichting werXaam
        p Een zorgbedrijf in Lelystad-Noord waar wij een dagbesteding aanbieden voor mensen met een afstand tot de arbeidsmarkt.