extends ../layouts/main.pug
block options
    - var title = "Dagbesteding in het groen";
block container
    .cover-img
        img(src='./images/jongens-front.jpeg' loading='lazy')
    .content
        h2 Openhaard hout voor €160 per gestapelde kuub
        h3 vanaf 2 kuub gratis bezorgd in Lelystad!
        span 
            | meer informatie vindt u 
            a(href='./products.html') hier.
    .content
        include:markdown-it dagbesteding-snippet.md
