extends ../layouts/main.pug
block options
    - var title = "Thuis";
block container
    .cover-img
        img(src='./images/jongens-front.jpeg' loading='lazy')
    .content
        h3(style={color:"red"}) Helaas zijn we door onze voorraad hout heen voor nieuwe klanten.
        h2 Openhaard hout voor €100 per (gestapelde) kuub
        h3 vanaf 2 kuub gratis bezorgd in Lelystad!
        span 
            | meer informatie vindt u 
            a(href='./products.html') hier.

    .content
        include:markdown-it about.md