extends ../layouts/main.pug
block options
    - var title = "Home";
block container
    .cover-img
        img(src='../recources/images/motorzaag-bos.jpg')
    nav.nav-horizontal
        a(href='./info.html') Dagbesteding
        a(href='./products.html') Haardhout
        a(href='./about.html') Meer over werxaam
    .content
        h2 Welkom bij zorgboederij werxaam
        p Een biologisch bedrijf in Lelystad-Noord waar wij een dagbesteding aanbieden voor mensen met een afstand tot de arbeidsmarkt.
