extends ../layouts/main.pug
block container
    .content
        h2 Activiteiten
        h3 Tuinonderhoud
        div
            | Voor derden verrichten wij tuinonderhoudswerxaamheden en soms ook aanleg. Dit kan van alles zijn van snoeien,
            | grasmaaien, onkruidbestrijding tot bosmaaien en bomen vellen.
        h3 Bosonderhoud
        div
            | In de winterperiode wanneer er niets meer groeit zijn we vooral in het bos aan het werk. In overleg met de
            | gemeente hebben we een stuk bos in onderhoud waar we vooral dunnen. We zagen dan bomen ertussenuit, zodat
            | de bomen die blijven staan meer ruimte hebben om uit te groeien. De omgezaagde bomen zagen we terplekke
            | in stukken die we vervoeren naar de basis. Daar hakken we het in stukken. De takken
        h3 De Appelboomgaard
        div
            | Op de jupiterweg hebben we een boomgaard van ruim een 1/2 ha. Natuurlijk vinden daar afhankelijk van het
            | seizoen allerlei werxaamheden plaats als; snoeien, maaien, plukken enz. De appels worden gebruikt voor
            | onze cider.
        h3 De Groententuin
        div
            | De groententuin is er vooral voor eigen gebruik. Er staat een kas , zodat we ook tomaten en paprika's kunnen
            | telen. Uit de groentetuin kunnen de deelnemers regelmatig verse groenten mee naar huis kunnen nemen.
    .content
        h2 Sociale activering
        | Voor deelnemers waar de afstand tot de arbeidsmarkt te groot is, kunnen wij een brug bieden.  Doel is
        | het welbevinden van de deelnemer. Een ieder bereikt wat in zijn vermogen ligt. We zijn ervan overtuigd
        | dat door bezig te zijn in de buiten lucht dit goed is voor de gezondheid van de deelnemers. Ze worden
        | er zowel fysiek als psychisch sterker van.  Op welk tempo dat gebeurt wordt bepaald in overleg met
        | de begeleider. Automatisch worden de volgende activiteiten meegenomen in de begeleiding;
        ul
            li Het oefenen van eenvoudige of complexe taken en activiteiten
            li Het oefenen van praktische problemen die buiten de dagelijkse routine vallen
            li Het oefenen van contact en communicatie in persoonsgebonden sociale omgeving 
            li Het helpen aanbrengen van en/of oefenen met het aanbrengen van (dag) structuur, ritme en het voeren
                | van regie zoals:
                ul
                    li Besluiten nemen en de gevolgen daarvan wegen.
                    li Dag-en of weekplanning, dagelijkse routine.
                    li Zich aan de regels en afspraken houden.
            li Het begeleiden van een inwoner bij de toeleiding tot werk (arbeidsmatige dagbesteding)
                | Bij Stichting werXaam kunnen ze o.a. de volgende ervaringen in het groen opdoen:
                ul
                    li
                        | Werxaamheden in en om de boomgaard; Grasmaaien, snoeien, opbinden, trekker rijden, appels plukken,
                        | appels verwerken van sap tot Cider.
                    li
                        | Werxaamheden in en om het bos;  Bomen omzagen, bomen in stukken zagen, takken slepen, houtrillen
                        | maken, hout hakken, kisten stapelen, trekker rijden met kieper.
                    li
                        | Werxaamheden in het groen; Haag knippen, grasmaaien, onkruid bestrijden, planten en verplanten.
                    li
                        | Werxaamheden in de groentetuin; Zaaien, verspenen, planten, bemesten,  onderhoud, watergeven,
                        | oogsten.
        | Deelnemers kunnen voorkeuren voor werXaamheden aangeven, maar stichting werXaam is een bedrijf en soms
        | moeten dingen nu eenmaal gebeuren omdat het nodig is of omdat het seizoen het aangeeft.
        br
        br
        | We streven naar een minimale aanwezigheid van 4 dagdelen per week, omdat wij het belangrijk vinden dat er een band ontstaat met het bedrijf en de collega’s
        br
        br
        | Deelnemers die potentieel hebben kunnen doorgroeien naar
        strong  Sociale Activering eXtra

        h2 Sociale Activering eXtra (Arbeidsrehabilitatie.)
        | Voor deelnemers die potentieel hebben, maar om een of andere reden dat niet hebben kunnen benutten. 
        br
        br
        | ​Zij kunnen bij Stichting werXaam eerst weer het vertrouwen opbouwen in de eigen mogelijkheden, vandaar
        |                     kunnen ze verder groeien naar een plek in de arbeidsmarkt. Wij bieden de mogelijkheid om het arbeidsritme
        |                     weer op te bouwen. Daarnaast worden er allerlei vaardigheden opgebouwd die voor deelname aan het arbeidsproces
        |                     noodzakelijk zijn. Zoals op tijd komen, omgang met collega’s, verantwoordelijkheid nemen, conditie opbouwen. 
        br
        br
        | Verder is het mogelijk, bij voldoende motivatie om een opleiding in het groen te volgen. Stichting werXaam
        |                     is een erkend leerwerkbedrijf. Gaat het allemaal goed en maakt de deelnemer voldoende vorderingen dan
        |                     kan Stichting werXaam ze helpen met het vinden van een baan of stromen ze door naar een ander traject.
        br
        br
        | Dit traject wordt afgesproken voor 1 jaar, na dit jaar wordt in overleg met de opdrachtgever/ gemeente
        |                     besloten hoe we verder gaan.
        br
        br
        | Voor dit traject is een minimale aanwezigheid van 6 dagdelen vereist.
        br
        br
        | Bekostiging volgens een vooraf afgesproken tarief. We gaan ervan uit dat de deelnemer zelf het vervoer
        |                     regelt naar Stichting werXaam.
