extends ../layouts/main.pug
block options
    - var title = "Informatie";
block container
    .content
        include:markdown-it info.md
    .content
        include:markdown-it info-socialactivering.md