extends ../layouts/main.pug
block options
    - var title = "Informatie";
block container
    .content
        include:markdown-it info.md
    .middle-img
        img(src='./images/moterzaag-bos-2-edit.jpg' loading='lazy')
    .content
        include:markdown-it info-socialactivering.md