extends ../layouts/main.pug
block options
    - var title = "Informatie";
block container
    .content
        include:markdown-it info.md
    .cover-img
        img(src='./images/moterzaag-bos-2-edit.jpg')
    .content
        include:markdown-it info-socialactivering.md