extends ../layouts/main.pug
block options
    - var title = "Onderhoud";
block container
    .cover-img
        img(src='./images/tuinonderhoud-1.jpg' loading='lazy')
    .content
        include:markdown-it onderhoud.md