extends ../layouts/main.pug
block options
    - var title = "Producten";
block container
    .cover-img
        img(src='./images/motorzaag-bos.jpg')
    .content    
        include:markdown-it(plugins=['markdown-it-sup']) products.md
        