extends ../layouts/main.pug
block options
    - var title = "Producten";
block container
    .cover-img
        img(src='./images/tunnelkas-hout.jpeg' loading='lazy')
    .content
        include:markdown-it(plugins=['markdown-it-sup']) products.md
        img(src='./images/stoel.jpg' loading='lazy')
