extends ../layouts/main.pug
block options
    - var title = "Producten";
block container
    .cover-img
        img(src='./images/motorzaag-bos.jpg')
    .content
        h2 Openhaard hout

        p ​Openhaardhout is te koop voor €75 per m<sup>3</sup> bezorgd in Lelystad. Bij aankoop van 2m<sup>3</sup> een fles Blos
            | Appelcider kado.
            br
            | Dit hout komt uit de bossen uit de omgeving. We zagen alles zelf. Het is middenklasse hout vooral essen
            | maar ook esdoorn, haagbeuk en eiken. De samenstelling kan per jaar verschillen, echter 
            strong nooit
            |  waaibomenhout als wilg en popelier. Het hout hakken wordt nog hoofdzakelijk met de bijl gedaan. Proefondervindelijk
            | hebben we vastgesteld dat door een goede techniek van hakken, de machine niet zoveel sneller is.

        h2 Tuinstoelen

        p kunt bij ons ook tuinstoelen bestellen. Deze stoelen zijn gemaakt van van steigerhout. Naturel of gebeitst
            | in vrolijke kleuren. De beits die we gebruiken is op waterbasis. Het maken van deze stoelen is voor ons
            | slechtweerwerk, dus we hebben even tijd nodig om ze te maken. Per stuk €70. In overleg kunnen
            | we ook krukjes of tafeltjes maken.
