extends ../layouts/main.pug
block options
    - var title = "Verkoop";
block container
    .cover-img
        img(src='./images/tunnelkas-hout.jpeg' loading='lazy')
    .content
        include:markdown-it(plugins=['markdown-it-sup']) hout.md
    .content
        include:markdown-it(plugins=['markdown-it-sup']) stoelen.md
        .middle-img
            img(src='./images/stoel.jpg' loading='lazy')
