h1 Haardhout
h2 vanaf 2 kuub gratis bezorgd in Lelystad!

h3 Standaard haardhout: €#{pricing.houtKuubPrice} per kuub
h3 Eiken haardhout: €#{pricing.houtEikenKuubPrice} per kuub

p Het hout wordt in principe los gestort op de inrit. Meerprijs voor het stapelen #{pricing.houtStapelenPrice} euro/m3.

p We zagen al het hout zelf in de bossen in de omgeving. De samenstelling van soorten hout kan per jaar verschillen, echter #[strong nooit] waaibomenhout als wilg en popelier. Het hout hakken wordt nog hoofdzakelijk met de bijl gedaan. Proefondervindelijk hebben we vastgesteld dat door een goede techniek van hakken, de machine niet zoveel sneller is.

p Interesse? neem dan #[a(href='./contact.html') contact] op.
