h2 Haardhout vanaf €#{pricing.houtKuubPrice} per kuub
h3 vanaf 2 kuub gratis bezorgd in Lelystad!
p Standaard haardhout: €#{pricing.houtKuubPrice}/m3 
p Eiken haardhout: €#{pricing.houtEikenKuubPrice}/m3
p meer informatie vind je #[a(href='./products.html') hier].
